# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\theeu\OneDrive\Documents\ICE\2nd Year\Advance Programming\S2\Practice\apds-2021-s2-g3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
